@model PakinProject.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1 class="text-center my-4">Product Details</h1>

<div class="container">
    <h4 class="text-info">Product Information</h4>
    <hr />
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ImageBase64)
                </dt>
                <dd class="col-sm-8">
                    @if (!string.IsNullOrEmpty(Model.ImageBase64))
                    {
                        <img src="data:image/png;base64,@Model.ImageBase64" style="width:150px; height:auto;" alt="Product Image" />
                    }
                    else
                    {
                        <span>No Image Available</span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
